%nav.navbar.navbar-expand-sm.sticky-top.navbar-light.bg-white.px-3
  %a.navbar-brand{href: "#"} MakinoTakuma
  %button.navbar-toggler{"aria-controls": "navbar", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbar", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav.mr-auto
      %li.nav-item.nav-link
        = link_to "Info", "#"
      %li.nav-item.nav-link
        = link_to "Live", "#"
      %li.nav-item.nav-link
        = link_to "Movie", "#"
      %li.nav-item.nav-link
        = link_to "Shop", "#"
      %li.nav-item.nav-link
        = link_to "About", "#"
      %li.nav-item.nav-link
        = link_to "#" do
          %i.fa-brands.fa-instagram 
      %li.nav-item.nav-link
        = link_to "#" do
          %i.fa-brands.fa-x-twitter
      %li.nav-item.nav-link
        = link_to "#" do
          %i.fa-brands.fa-itunes
      %li.nav-item.nav-link
        = link_to "#" do
          %i.fa-brands.fa-spotify